* {
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
   font-family: 'Hind Madurai', sans-serif;
}

body {
  background:#D6DBDF;
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color:  #7F8C8D;
    text-align: center;
}

.title {
    color: #7F8C8D;
    text-align: center;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 50px;
    font-weight: 900;
}

.disks-list {
    background-color: transparent;
    float: left;
}

.volume {
  float: left;
  align: center;
  border-radius: 15px;
  border-color: #7F8C8D;
  border-width: 5px;
  border-style: solid;
  background: #c2dfe6;
  padding: 0px 10px;
  width: 100%;
  margin: 5px 0px;
  overflow: auto;
}

.online-disk-option {
    float: left;
    align: center;
    border-radius: 15px;
    border-color: #7F8C8D;
    border-width: 5px;
    border-style: solid;
    background: #d5ffd5;
    padding: 0px 10px;
    width: 100%;
    margin: 5px 0px;
    overflow: auto;
}

.online-disk-option:hover{
    transition: 0.5s ease;
    background: #99ff99;
    width: 100%;
    height: 110px;
}

.rebuild-disk-option {
    float: left;
    border-radius: 15px;
    border-color: #7F8C8D;
    border-width: 5px;
    border-style: solid;
    background: #f7f086;
    padding: 0px 10px;
    width: 100%;
    margin: 5px 0px;
    overflow: auto;
}

.rebuild-disk-option:hover{
    transition: 0.5s ease;
    background: #f9f066;
    width: 100%;
    height: 110px;
}

.offline-disk-option {
    float: left;
    border-radius: 15px;
    border-color: #7F8C8D;
    border-width: 5px;
    border-style: solid;
    background: #fec2b8;
    padding: 0px 10px;
    width: 100%;
    margin: 5px 0px;
    overflow: auto;
}

.offline-disk-option:hover{
    transition: 0.5s ease;
    background: #f49790;
    width: 100%;
    height: 110px;
}

.disk-img{
    width:100px;
    height:100px;
}

.left-volume-disk-pic{
    width : 50%;
    overflow: auto;
    float:left;
}

.right-volume-disk-pic{
    float:right;
    width : 50%;
    overflow: auto;
}

h1 {
  color: #7F8C8D;
  text-align: center;
  font-family: 'Hind Madurai', sans-serif;
  font-size: 40px;
}

h2 {
  float:left;
  width:100%;
  color: #616A6B;
  text-align: center;
  font-family: 'Hind Madurai', sans-serif;
  font-size: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7F8C8D;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 30px 10px;
    text-decoration: none;
}

li a:hover {
    transition: 0.5s ease;
    background-color: #616A6B;
}

table {
    border-width: medium;
    border-color: ;
    width: 100%;
}

th, td {
    text-align: center;
    padding: 2px;
}



.content-space {
  width: 450px;
  padding: 40px 30px;
  background: #F4F6F6    ;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
}

.table-space {
  width: 750px;
  padding: 40px 30px;
  background: #F4F6F6    ;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
}

.log-btn {
  background: #AED6F1;
  display: inline-block;
  width: 100%;
  font-size: 16px;
  height: 50px;
  color: #fff;
  text-decoration: none;
  border: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.log-btn:hover {
  transition: 0.5s ease;
  background: #49c9da;
}

.reg-text {
  color: #FBFCFC;
  text-align: center;
  font-family: 'Hind Madurai', sans-serif;
  font-size: 20px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #7F8C8D;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 140%;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 20%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #7F8C8D transparent transparent;
}

.help-box{
    width:20px;
    height:20px;
}

.logo{
    padding: 5px 10px 5px 20px;
    width:80px;
    height:40px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
