* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: arial;
}

body {
  background:#D6DBDF;
}

.title {
    color: #7F8C8D;
    text-align: center;
    font-family:  "Comic Sans MS", cursive, sans-serif;
    font-size: 50px;
}

h1 {
  color: #7F8C8D;
  text-align: center;
  font-family:  "Comic Sans MS", cursive, sans-serif;
  font-size: 40px;
}

h2 {
  color: #616A6B;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7F8C8D;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #616A6B;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #7F8C8D;
    color: white;
}


.content-space {
  width: 450px;
  padding: 40px 30px;
  background: #F4F6F6    ;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
}

.table-space {
  width: 750px;
  padding: 40px 30px;
  background: #F4F6F6    ;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
}

.log-btn {
  background: #AED6F1;
  display: inline-block;
  width: 100%;
  font-size: 16px;
  height: 50px;
  color: #fff;
  text-decoration: none;
  border: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.reg-text {
  color: #FBFCFC;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #7F8C8D;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 140%;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 20%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #7F8C8D transparent transparent;
}

.help-box{
    width:20px;
    height:20px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}